PermitUserEnvironment no

    Match Group backup_users
            X11Forwarding no
            AllowTcpForwarding no
    #        ChrootDirectory %h
    #        ForceCommand /usr/bin/borg serve --append-only --restrict-to-repository /mnt/BackupNAS_Volume1/Backups/Borg/r4s/data
            ForceCommand ;
            PasswordAuthentication  no
            PermitUserRC no  
            PermitTunnel no
            PermitTTY no
            PermitOpen none
            PermitListen none